<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Software Interview Whiteboard Questions | Approachable IO</title>
  <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles.css">

  <!-- Icon and Favicon Files -->
  <link rel="apple-touch-icon" sizes="180x180" href="../images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/icons/favicon-16x16.png">
  <link rel="manifest" href="../images/icons/manifest.json">
  <link rel="mask-icon" href="../images/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <a href="../index.html">
        <img class="top-left-logo" src="../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
  <div class="text-container">
    <h1>Software Interview Technical Questions</h1>
    <p>
      <a href="questions/technical/class-vs-object.html">
                What is the difference between a class and an object?
            </a>
    </p>
    <p>
      <a href="questions/technical/encapsulation.html">
            What is encapsulation, and why is it important?
          </a>
    </p>
    <p>
      <a href="questions/technical/sdlc.html">
            What is software process or Software Development Life Cycle (SDLC)?
          </a>
    </p>
    <p>
      <a href="questions/technical/algorithms.html">
            What is an Algorithm?
          </a>
    </p>
    <p>
      <a href="questions/technical/closure.html">
            What is a Closure in JavaScript?
      </a>
    </p>
        <p>
            <a href="questions/technical/recursion.html">
            What is Recursion?
          </a>
    </p>
  </p>

  <p>
      <a href="questions/technical/Oops.html#Section1">
        What is a Class?
      </a>
      </p>
      <p>
          <a href="questions/technical/Oops.html#Section2">
  What is an Object?
</a>
</p>
<p>
    <a href="questions/technical/Oops.html#Section3">
  What is OOPS?
</a>
</p>
<p>
    <a href="questions/technical/Oops.html#Section4">
  What are the advantages of using OOOPS?
</a>
</p>
<p>
    <a href="questions/technical/Oops.html#Section5">
  What is the difference between Procedural programming and OOPS?
</a>
</p>
<p>
    <a href="questions/technical/Oops.html#Section6">

  What are the core concepts of OOPS?
</a>
</p>
<p>
    <a href="questions/technical/Oops.html#Section7">

  What is Dependency?
</a>
</p>
<p>
    <a href="questions/technical/Oops.html#Section7">

  What is the difference between Association and Dependency?
</a>
</p>
  <p>
      <a href="questions/technical/Linq.html#Section1">
      What is Linq?
    </a>
</p>
<p>
  <a href="questions/technical/Linq.html#Section2">
    What are the types of LINQ
  </a>
</p>
<p>
  <a href="questions/technical/Linq.html#Section3">
    List out the three main components of LINQ
  </a>
</p>
<p>
  <a href="questions/technical/Linq.html#Section4">
    Define what is Where clause and Let clause?
  </a>
</p>
<p>
  <a href="questions/technical/Linq.html#Section5">
    Why SELECT clause comes after FROM clause in LINQ?    
  </a>
</p>
<p>
  <a href="questions/technical/Linq.html#Section6">   
    In LINQ how will you find the index of the element using where () with Lambda Expressions    
  </a>
</p>
<p>
  <a href="questions/technical/NoSql.html#Section1">  
  What is NoSQL?
</a>
</p>
<p>
    <a href="questions/technical/NoSql.html#Section2">  
      What are the features of NoSQL?
  </a>
  </p>
  <p>
      <a href="questions/technical/NoSql.html#Section3">  
        Explain the difference between NoSQL v/s Relational database?
    </a>
    </p>
    <p>
        <a href="questions/technical/NoSql.html#Section4">          
          Some of the Models used in NOSQL DATABASES?
      </a>
      </p>
      <p>
          <a href="questions/technical/SDLC.html#Section1">          
            What is software process or Software Development Life Cycle (SDLC)
        </a>
      </p>

      <p>
          <a href="questions/technical/SDLC.html#Section2">          
            What are SDLC models available?
        </a>
      </p>
      
      <p>
          <a href="questions/technical/SDLC.html#Section3">          
            What are various phases of SDLC?
        </a>
      </p>
      
      <p>
          <a href="questions/technical/SDLC.html#Section4">          
            Which SDLC model is the best?
        </a>
      </p>
  </div>
  <footer>
    <hr>
    <p class="text-container">An
      <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
      <a href="http://www.approachable.io">Approachable IO</a>
    </p>
  </footer>
</body>

</html>
