<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Software Interview Whiteboard Questions | Approachable IO</title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" type="image/png" href="../images/approachable-open-source-logo.png" />
</head>

<body>
    <a href="../index.html">
        <img class="top-left-logo" src="../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Software Interview Technical Questions</h1>
        <a href="questions/technical/class-vs-object.html">
            What is the difference between a class and an object?
        </a>
    </div>
    <footer>
        <hr>
        <p class="text-container">An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>