<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>What is AngularJS | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        
        <h2>What is AngularJS</h2>
        <p> AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend 
            HTML's syntax to express your application's components clearly and succinctly. AngularJS's data binding and dependency injection 
            eliminate much of the code you would otherwise have to write. And it all happens within the browser, making it an ideal partner 
            with any server technology.
        </p>
        
        <p> AngularJS follows the traditional MVC architecture that comprises a model, a view, and a controller.
            <ul>
                <li>Model: the model is an abstract representation of your data.</li>
                <li>Views: the view represents the presentation layer and the actual UI.</li>
                <li>Controller: the controller represents how user interactions are handled and binds both the model and the view.</li>
            </ul>
        </p>

    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
