<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Data Science | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        
        <h2>Angular 2+</h2>
        <p> Angular is single page Application. 
            Angular 4 is a JavaScript framework for building web applications and apps in JavaScript, html, and TypeScript, which is a superset of JavaScript.
            Angular provides built-in features for animation, http service, and materials which in turn has features such as auto-complete, navigation, toolbar, menus, etc.
            The code is written in TypeScript, which compiles to JavaScript and displays the same in the browser.
        </p>
        
		<img src="../../../images/angular2.png" align="right" width="500px">
        <h3>What is Type Script?</h3>
        <p>TypeScript is an open-source programming language developed and maintained by Microsoft. It is a strict syntactical superset of JavaScript, and adds optional static typing to the language.
           TypeScript is designed for development of large applications and transcompiles to JavaScript.
        </p>

        <h3>What is Angular CLI?</h3>
        <p> Angular CLI makes it easy to start with any Angular project.
            Angular CLI comes with commands that help us create and start on our project very fast. 
            Let us now go through the commands available to create a project, a component and services, change the port, etc.
        </p>

        <h3>What is Module in Angular?</h3>
        <p> Module in Angular refers to a place where you can group the components, directives, pipes, and services, which are related to the application.
            <br>
            <h5>How to define module in Angular2+ ?</h5>
            <p>To define module, we can use the NgModule. 
                When you create a new project using the Angular –cli command, the ngmodule is created in the app.module.ts file by default.
            </p>
        </p>

        <h3>What are components in Angular?</h3>
        <p> Major part of the development with Angular 4 is done in the components. Components are basically classes that interact with the .html file of the component, which gets displayed on the browser. We have seen the file structure in one of our previous chapters. The file structure has the app component and it consists of the following files −
            <br>
            <pre>- app.component.css</pre>
            <pre>- app.component.html</pre>
            <pre>- app.component.ts</pre>
            <pre>- app.module.ts</pre>
        </p>

        <h3>What are routing in Angular2 ?</h3>
        <p>Routing basically means navigating between pages. You have seen many sites with links that direct you to a new page. This can be achieved using routing. Here the pages that we are referring to will be in the form of components. We have already seen how to create a component. Let us now create a component and see how to use routing with it.
        </p>

        <h3>What are services in Angular2 ?</h3>
        <p>We might come across a situation where we need some code to be used everywhere on the page. It can be for data connection that needs to be shared across components, etc. Services help us achieve that. With services, we can access methods and properties across other components in the entire project.
        </p>

    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
