<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Class vs Object | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Classes and Objects in OOP</h1>
        <a href="../../technical.html">
            More technical interview questions
        </a>
        <p>What are classes and objects in OOP, and what's the distinction between the two?</p>
        <p>
            A Class is a blueprint of sorts; it outlines what attributes and
            functionalities a particular type of structure should have. For example,
            a Car object could have color, top speed, and transmission type attributes
            and accelerate, brake, and turn signal functions.
        </p>
        <p>
            An Object is an instance of a Class. For instance (if you'll excuse the pun),
            myCar would be an instance of the class Car with color = gray, top
            speed = 15mph, transmission type = automatic. It would inherit the methods
            accelerate, brake, and turn signal functions from Car.
        </p>
        <p>An object is a member or an "instance" of a class.</p>
        <p>
            If channel is a class, Start Sports, BBC, and ESPN are its objects. If water is a Class, "Fresh Lime Water" and "Soup" are its objects.
            <br />
            Although you might find this explanation vague, this is the answer that I could think of.
            <br />
            Here is how you can learn about and distinguish classes:
            <br />
            Say you have a class "CAR"
            <br />
            Its objects are Hyundai, Ford, Suzuki. It will have the same methods but different designs -> this is how you can relate objects and classes with the real world.
        </p>
    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
