<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Print | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <h> What is the difference between a struct and a class in C#?</h>

<h2>Answer:</h2>

<p>Class and struct both are the user defined data type but have some major difference:</p>

<h4>Struct</h4>

<p>The struct is value type in C# and it inherits from System.Value Type.<br>
Struct is usually used for smaller amounts of data.<br>
Struct can’t be inherited to other type.<br>
A structure can't be abstract.<br>
No need to create object by new keyword.<br>
Do not have permission to create any default constructor.</p><br>
<h4>Class</h4>

<p>The class is reference type in C# and it inherits from the System.Object Type.<br>
Classes are usually used for large amounts of data.<br>
Classes can be inherited to other class.<br>
A class can be abstract type.<br>
We can’t use an object of a class with using new keyword.<br>
We can create a default constructor.</p>
</body>

</html>
