<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Encapsulation | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Encapsulation</h1>
        <a href="../../technical.html">
            More technical interview questions
        </a>
        <p>What is encapsulation, and why is it important in OOP?</p>
        <p>
            Encapsulation is the idea that access to the inner workings of an
            object should be controlled carefully. A module is considered
            "encapsulated" iff its implementation is completely hidden, and it can
            only be accessed through a documented interface.
        </p>
        <p>
            Encapsulation is important because it helps to compartmentalize
            elements within a larger project, and by so doing, helps to minimize
            the risk of misuse of particular functionalities. For example, think
            of how cars work; the driver gets a steering wheel, brakes,
            accelerator, et cetera, and it's only through these that they control
            how the car moves. The car itself handles the actual acceleration and
            turning, because the actual inner workings of the engine are too
            complex for the average user. If the user were to be allowed to meddle
            with the innermost workings of the vehicle, they could cause all kinds
            of damage due to their ignorance of how the actual act of acceleration
            (or what have you) was supposed to be performed.
        </p>
    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
