<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>What is Html 5 | Software Interview Technical Questions </title>
    <meta name="description"
        content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <style>
        #example {
            width: 100%;
            height: 60px;
            background-color: lightgray;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png"
            alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">

        <h2>What is HTML5?</h2>
        <p> HTML5 is the latest version of the HyperText Markup Language that can be referred to the WWW (World Wide
            Web) primary language, this markup language enhances a text file with bits of code, and this code which we
            can say as “markup” describes the structure of the document.

            HTML5 provides some standard features like that of CSS, HTML, JavaScript, and DOM, which in turn will reduce
            the requirement of external plugins. It’s more markup to replace scripting, better error handling, etc.
            HTML5 is device independent.
        </p>

        <h3>What is
            <!DOCTYPE>? What are the different types of
            <!DOCTYPE> that are available?</h3>
        <p>The
            <!DOCTYPE> declaration provides instruction to the web browser to understand what information it should be
            display, and the need to start with
            <!DOCTYPE> declaration. In HTML5, DOCTYPE declaration is very short, and case-insensitive, and
            <!DOCTYPE html> is written at the top of every HTML5 page.

            <h3>The following DOCTYPE are also supported in HTML5:</h3>

            <ul>
                <li>
                    < !DocTYpe html>
                </li>
                <br>
                <li>
                    < !dOCtype html>
                </li>
                <br>
                <li>
                    < !doctype html>
                </li>
            </ul>

            <h3>There are 3 types of DOCTYPES as mentioned below:</h3>

            <ul>
                <li>Strict Doctype</li>
                <br>
                <li> Frameset Doctype</li>
                <br>
                <li>Transitional Doctype</li>
            </ul>
        </p>

        <h3>What is a tag in HTML5?</h3>
        <p>A tag is a special content in HTML5, which is surrounded by an angle bracket (<,>). A slash (/) symbol is
                used to close the tag after completing the block.
        </p>

        <h3>For Example</h3>

        <div id="example">
            < title> this is my browser < /title>
        </div>

        <p>An Html5 tag is a set of characters that develop a formatted command for a web page. These formatted commands
            communicate and send the instruction to the Browser.</p>

        <h3>What is the minimum number of HTML5 tags that are required to create a Web page?</h3>
        <p> Drag and Drop is the most important User Interface concept which makes it easy to grab an object and Drag it
            at the place you want with the help of a mouse click.

            Some common features that are mostly used by Drag and Drop operation include move, link or copy.

            We can drag an image using elements, type = <b>
                < img draggable=“true”>
            </b>, to make an image draggable and set the draggable image attribute to true.
        </p>

        <h3>Why do we use HTML5?</h3>
        <p> HTML5 supports animation, drawing, audio, video, etc and it easily embeds a video on the web page. It does
            not require any additional software like Flash for watching videos.

            <h3>Some of the important reasons to use HTML5 are given below:</h3>

            <ul>
                <li>Legacy and cross-browser support</li>
                <br>
                <li>Better interactions</li>
                <br>
                <li>Smarter storage</li>
                <br>
                <li>Cleaner code</li>
            </ul>

        </p>

        <h3>What is a hyperlink? Does it only apply to text?</h3>
        <p>The hyperlink is a link that allows a user to move from one web page to another web page when clicked.
            Hyperlink concept is used on text and as well as image, and we can convert an image into a link with the
            help of < a href=“ ”….< /a>> tags.
        </p>

        <h3>What’s one main result if you do not specify a doctype in an HTML page?</h3>
        <p>New HTML5-specific tags will not be interpreted by the browser.
        </p>

    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>