<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Polymorphism | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Inheritance</h1>
        <a href="../../technical.html">
            More technical interview questions
        </a>
        <p>What is inheritance, and why is it important in OOP?</p>
        <p>
          Inheritance further extends the sort of familial metaphor in OOP, and
          much like the actual concept, it just means that child classes get
          what their parents had (with the exception that no one need die for OOP
          inheritance to take place, and child classes needn't fight over who gets
          what).
        </p>
        <p>
          It's important to note that inheritance is for "is-a" relationships, not
          for "has-a" relationships. For example, the class "Bathroom" should
          inherit from the "Room" class (because a bathroom is a room), but a "Shower"
          class should NOT inherit from "Bathroom" (because though a bathroom has
          a shower, the statement "a shower is a bathroom" is both inaccurate and
          markedly insalubrious).
        </p>
    </div>
    <footer>
        <hr>
        <p class="text-container">An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
