<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Class vs Object | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
<a name="Section1">What is LINQ?</a>
<p>Language Integrated Query or LINQ is the collection of standard query operators which provides query facilities into.NET framework language like C#, VB.NET.</p> 
<a name="Section2"> What are the types of LINQ</a>
<p>
    <ul>
    <li>LINQ to Objects</li>
    <li>LINQ to XML</li>
    <li>LINQ to Dataset</li>
    <li>LINQ to SQL</li>
    <li>LINQ to Entities</li>
    </ul>
</p>
<a name="Section3">List out the three main components of LINQ</a>
<p>
    <ul>
        <li>Standard Query Operators</li>
        <li>Language Extensions</li>
        <li>LINQ Providers</li>
    </ul>
</p>
<a name="Section4">Define what is Where clause and Let clause?</a>
<p>
    <ul>
        <li>
                Where clause: It allows adding some conditional filters to the query.
        </li>
        <li>
                Let clause: It allows defining a variable and assigning it a value calculated from the data values.
        </li>
    </ul>
</p>
<a name="Section5">Why SELECT clause comes after FROM clause in LINQ? </a>
<p>
        With other programming language and C#, LINQ is used, it requires all the variables to be declared first. “FROM” clause of LINQ query defines the range or conditions to select records. So, FROM clause must appear before SELECT in LINQ.
</p>
<a name="Section6">In LINQ how will you find the index of the element using where () with Lambda Expressions?</a>
<p>
        In order to find the index of the element using where () with the lambda expression      
        Where ( ( i, ix ) => i == ix);
</p>
</div>
<footer>
    <hr>
    <p class="text-container">An
        <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
        <a href="http://www.approachable.io">Approachable IO</a>
    </p>
</footer>
</body>

</html>

