<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Class vs Object | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">

            <a name="Section1">What is a Class?</a>
            <p>A class is the specification or template of an object.
                </p> 

                <a name="Section2">What is an Object?</a>
                <p>Object is instance of class.
                    </p> 


        <a name="Section3">What is OOPS?</a>
<p>Object Oriented Programming System is the programming technique to write programs based on the real world objects. The states and behaviors of an object are represented as the member variables and methods. In OOPS programming programs are organized around objects and data rather than actions and logic
    </p> 
<a name="Section4"> What are the advantages of using OOOPS?</a>
<p>
        <strong>Simplicity</strong>: OOPS programming objects model real world objects, so the complexity is reduced and the program structure is clear.
        <strong>Modularity</strong>:Each object forms a separate entity whose internal workings are decoupled from other parts of the system.
        <strong>Modifiability</strong>: It is easy to make minor changes in the data representation or the procedures in an OO program. Changes inside a class do not affect any other part of a program, since the only public interface that the external world has to a class is through the use of methods.
        <strong>Extensibility</strong>: Adding new features or responding to changing operating environments can be solved by introducing a few new objects and modifying some existing ones.
        <strong>Maintainability</strong>: Objects can be maintained separately, making locating and fixing problems easier.
        <strong>Reusability</strong>: Objects can be reused in different programs.
</p>
<a name="Section5">What is the difference between Procedural programming and OOPS?</a>
<p>
    <ul>
        <li>Procedural language is based on functions but object oriented language is based on real world objects.</li>
        <li>Procedural language gives importance on the sequence of function execution but object oriented language gives importance on states and behaviors of the objects.</li>
        <li>Procedural language exposes the data to the entire program but object oriented language encapsulates the data.</li>
        <li>Procedural language follows top down programming paradigm but object oriented language follows bottom up programming paradigm.</li>
        <li>Procedural language is complex in nature so it is difficult to modify, extend and maintain but object oriented language is less complex in nature so it is easier to modify, extend and maintain.</li>
        <li>Procedural language provides less scope of code reuse but object oriented language provides more scope of code reuse.</li>  
    </ul>
</p>
<a name="Section6">What are the core concepts of OOPS?</a>
<p>
    <ul>
        <li>Abstraction
        <p>Abstraction is an OOPS concept to construct the structure of the real world objects. During this construction only the general states and behaviors are taken and more specific states and behaviors are left aside for the implementers.</p>    
        </li>    
        <li>Encapsulation<p>Encapsulation is an OOPS concept to create and define the permissions and restrictions of an object and its member variables and methods. A very simple example to explain the concept is to make the member variables of a class private and providing public getter and setter methods. Java provides four types of access level modifiers: public, protected, no modifier and private.</p>
            </li>        
        <li>Polymorphism<p>Polymorphism is the occurrence of something in various forms. Java supports various forms of polymorphism like polymorphic reference variables, polymorphic method, polymorphic return types and polymorphic argument types.</p></li>
        <li>Inheritance<p>A subclass can inherit the states and behaviors of it’s super class is known as inheritance.</p></li>        
        <li>Composition<p>Composition is a special form of Aggregation where the part cannot exist without the whole. Composition is a strong Association. Composition relationship is represented like aggregation with one difference that the diamond shape is filled.</p></li>        
        <li>Association<p>Association is a relationship between two objects with multiplicity.</p></li>        
        <li>Aggregation<p>Aggregation is also known as “HAS-A” relationship. When class Car has a member reference variable of type Wheel then the relationship between the classes Car and Wheel is known as Aggregation. Aggregation can be understood as “whole to its parts” relationship.
                
                Car is the whole and Wheel is part. Wheel can exist without the Car. Aggregation is a weak association.
                
                </p></li>        
        </li>       
    </ul>
</p>
<a name="Section7">What is Dependency?</a>
<p>
        When one class depends on another because it uses that at some point in time then this relationship is known as Dependency. One class depends on another if the independent class is a parameter variable or local variable of a method of the dependent class. A Dependency is drawn as a dotted line from the dependent class to the independent class with an open arrowhead pointing to the independent class.            
</p>
<a name="Section8">What is the difference between Association and Dependency?</a>
<p>
        The main difference between Association and Dependency is in case of Association one class has an attribute or member variable of the other class type but in case of Dependency a method takes an argument of the other class type or a method has a local variable of the other class type.
</p>
</div>
<footer>
    <hr>
    <p class="text-container">An
        <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
        <a href="http://www.approachable.io">Approachable IO</a>
    </p>
</footer>
</body>

</html>

