<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Page Load | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Name 3 ways to decrease page load (perceived or actual load time).</h1>
        <a href="../../technical.html">
            More technical interview questions
        </a>
        <p>
          Page load time can be decreased in a number of ways.  Limiting the number of requests on page is often the first step a developer will take.
          Serving minified images and code is another useful step that will decrease the actual load time of a page.
          <br>
          While both of the above mentioned methods will create a finite decrease in load time, there are other methods that may result in a perceived decrease in page load.
          The most frequently used methods is to display a spinner or loading animation.  Users will understand that something is happening behind the scenes and display more patience than if the page was static.
        </p>
        <hr>
        <p class="text-container">An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>