<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Polymorphism | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Polymorphism</h1>
        <a href="../../technical.html">
            More technical interview questions
        </a>
        <p>What is polymorphism, and why is it important in OOP?</p>
        <p>
            Polymorphism comes from the Greek roots "poly," which means "many" and
            "morphe," which means "forms." It's a concept that allows for the
            construction of general data structures and methods, which is invaluable
            in OOP.
        </p>
        <p>
            In the context of programming, polymorphism is the capacity of a given
            object to be regarded as an instance of its own class, an instance of
            its superclass, or an instance of its superclass's superclass (and so
            on and so forth up the hierarchy). This is valuable because it allows
            for the creation of interfaces that can be used to provide an
            instruction set of sorts for numerous subclasses. In other words, it
            makes it possible to use the same general formulae to construct similar
            objects, which means we don't need to rewrite the same functionality
            over and over again. This minimizes the potential for some miniscule
            difference being introduced (as will invariably occur when different
            people work on the same code) into the codebase. It may not sound like
            a huge problem, but it's actually one of the most insidious, ubiquitous,
            and apoplectic-rage inducing problems in team programming. It's the
            reuse and recycling of code that polymorphism enables that makes it so
            valuable in programming!
        </p>
    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
