<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CDNs | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Content Delivery Networks</h1>
        <a href="../../technical.html">
            More technical interview questions
        </a>
        <p>What is a CDN and what advantages or disadvantages does it have?</p>
        <p>
            A Content Delivery Network(CDN) is a cluster of geographically distributed servers being used to deliver static content like images, scripts, CSS and libraries quickly to visitors from the nearest server. In simpler words; when visitors browse any website, CDN chooses the nearest server to deliver static content used in website. CDN allows the visitors faster page loads and enhanced user experience...
        </p>
        <p>
            What are the Advantages of Content Delivery Network (CDN)? 
        </p>
        <ul>
                <li>CDN is extremely useful for the Websites with larger Images and videos but struggling with loading speeds. Despite the obvious benefits, following are some potential downside of CDN.</li>
                <li>CDN copies your static contents to geographically dispersed servers, hence your website load is divided among them. Ultimately, your website is highly available to your visitors.</li>
                <li>CDN service is probably primary step to improve your SEO strategies and lift Google page rankings. Because, poor and slow loading websites will face more challenges to rank good in search engines.</li>
        </ul>
        <p>
            Having learning the advantages/benefits of CDN (Content Delivery Network), it will be cool to also know what are the disadvantages/drawsback of using CDN (Content Delivery Network), because knowing the Do's and Dont's of a thing makes one utilize it very well and be conscious of what it can do.
        </p>
        <p>
            What are the Disadvantages of Content Delivery Network (CDN)?
        </p>
        <ul>
            <li>Storing some sensitive files on CDN network may open potential security vulnerabilities. Because, does not matter what you store at CDN; it will be copied to all distributed servers.</li>
            <li>CDN network contains most updated static data. Hence, you may find difficulties in application development. In other words, to preview latest changes you made, you will need Internet connection as you won’t have a local copy. This could be a headache for non technical writer or Blogger.</li>
            <li>Using CDN, you are creating additional “point of failure”. If the CDN network goes down you may lose website visibility.</li>
        </ul>
    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
