<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>What are CRUD operations? | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>What are CRUD operations?<h1>
        
        <a href="../../technical.html">
            More technical interview questions
        </a>
        
        <h2>What are CRUD operations?</h2>
        <p>CRUD is an acronym representing the four basic functions of persisted storage (most commonly a database).</p>
        <ul>
            <li>
				<strong>Create</strong> - In SQL, this translates to an <code>INSERT</code> statement. This is how data is initially loaded to storage.
            </li>
            <li>
				<strong>Read</strong> - In SQL, this translates to a <code>SELECT</code> statement. This is how data is retrieved and ultimated consumed by an application.
            </li>
            <li>
				<strong>Update</strong> - In SQL, this translates to an <code>UPDATE</code> statement. This is how data is modified in storage.
            </li>
            <li>
				<strong>Delete</strong> - In SQL, this translates to a <code>DELETE</code> statement. This is how data is hard-deleted (permanently removed) from storage. This should not be confused with a soft-delete which may be implemented as an update to an "Active" or "Enabled" property.
            </li>
        </ul>

    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
