<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>What is Agile software development? | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>What is Agile software development?</h1>

        <a href="../../technical.html">
            More technical interview questions
        </a>

        <h2>What does it mean to be Agile in the context of software development?</h2>
        <p>Being Agile means your development team collaborates closely with the end users of your product to iterate quickly and roll out value in small chunks. This allows the software product to respond quickly to changing requirements and ensure that effort developing invalid solutions is minimized as much as feasible.</p>

        <h2>How does this contrast with other software development methodologies?</h2>
        <p>The most prevalent competing methodology to Agile is Waterfall. In that approach, the development process is strictly linear from requirements collection to end user delivery. This approach is typically less-favored because of the high risk to the value of the resulting solution which grows proportionally to the scale and timeline of the project.</p>

        <h2>How does this relate to scrum?</h2>
        <p>Scrum is a popular framework in which development progress is managed. At a high level, a development team will have recurring work cycles known as "sprints" which typically last 2-3 weeks in length. These sprints are scoped narrowly enough so that some value can be delivered to users upon sprint completion.</p>

    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
