<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>What is CSS and Its Purpose | Software Interview Technical Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>What is CSS and Its Purpose</h1>

        <a href="../../technical.html">
            More technical interview questions
        </a>

        <h2>What is CSS</h2>
        <p>CSS stands for Cascading Style Sheets and is a style language that expresses the presentation of structured documents.  The most common use of CSS is with HTML for web design, though these sheets can also be used with other markup languages such as XML.</p>

        <h2>Why use CSS</h2>
        <p>CSS allows styles to be added, momdified, or removed quickly for an entire page or site.  This reduction in coding, which was once very repetivie in HTML, saves the programmer time and reduces keyed errors. We gain the added benefit of a faster load time for websites as a style can be loaded once and saved in cache for use throughout an entire site instead of loading a style per element.</p>

        <h3>How Do I Add CSS to HTML files</h3>
        <ul>
            <li>
                <strong>Inline</strong> - Adding a <code>&lt;style&gt;</code> attribute to an element in your HTML file
                <br />
                <code>
                    &lt;h1 style="color:red;"&gt; is a Red Heading&lt;/h1&gt;
                </code>
            </li>
            <li>
                <strong>Internal</strong> - Adding the <code>&lt;style&gt;</code> element to your <code>&lt;head&gt;</code> section
<pre><code>&lt;head&gt;
    &lt;style&gt;
        h1 {color: red;}
    &lt;/style&gt;
&lt;/head&gt;</code></pre>
            </li>
            <li>
                <strong>External</strong> - Adding <code>&lt;link&gt;</code> to an external CSS sheet in your <code>&lt;head&gt;</code> section
<pre><code>&lt;head&gt;
    &lt;link rel="stylesheet" href="styles.css"&gt;
&lt;/head&gt;</code></pre>
            </li>
        </ul>
        <h2>What is CSS specificity?</h2>
        <p>CSS specificity is the set of rules applied to CSS selectors in order to determine which style is applied to an element. The more specific a CSS style is, the higher point value it gets.</p>
        
        <h2>What are the components of a CSS Style?</h2>
        <p> Every style in CSS is made up of three parts : </p>
        <ul>
            <li>
                <strong>Selector</strong> − This is the tag at which that particular style will be applied. For instance, tags like &lt;table&gt; and &lt;body&gt; could be selectors.
            </li>
            <li>
                <strong>Property</strong> - This is essentially the attribute under an HTML tag which will be modified using the CSS styling code. These could be color, width, text-align etc. 
            </li>
            <li>
                <strong>Value</strong> - These are assigned to those attributes/properties to provide styling. For example, Blue could be assigned to the color property. 
            </li>
        </ul>
    </div>
    <footer>
        <hr>
        <p class="text-container">
            An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
