<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Max Number in Array | Software Interview Whiteboard Questions </title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Maximum Number in an Array</h1>
        <a href="../../whiteboard.html">
            More whiteboard interview questions
        </a>
        
        <h3>Question:</h3>
        <p>Write a function that returns the maximum number in an array.</p>
        
        <h4>Approach: </h4>
        <p>A simple way to get started would be to take a variable and then intialize it to the first index of the array. Loop through the array and if the number at the current index is greater than the intialized number at the start, then reinitialized the variable to the number at the current index. After doing this for the entire array, the max number would be saved in the variable. In python, you can use "max" function to get the maximum number in an array!</p>
        
        <div class="hidden-answer">
            <input type="checkbox" id="palindrome-answer">
            <label for="palindrome-answer">Click to see an algorithmic answer written in Python</label>
            <div class="content">
                <script src="https://gist.github.com/hkdeman/d73b133240e1dd2e9d69a27d1b83fd82.js"></script>
            </div>
            
            <input type="checkbox" id="palindrome-adv-answer">
            <label for="palindrome-adv-answer">Click to see an advanced answer written in Python</label>
            <div class="content">
                <script src="https://gist.github.com/hkdeman/80ef705aeb89acd7ba119239022e6283.js"></script>
            </div>
        </div>

    </div>
    <footer>
        <hr>
        <p class="text-container">An
            <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
            <a href="http://www.approachable.io">Approachable IO</a>
        </p>
    </footer>
</body>

</html>
