<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rhyme Time</title>
    <meta name="description" content="Creators of Approachable Open Source projects to allow anyone to start contribute to open source software, regardless of technical skill level.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../styles.css">

    <!-- Icon and Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/icons/favicon-16x16.png">
    <link rel="manifest" href="../../../images/icons/manifest.json">
    <link rel="mask-icon" href="../../../images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <a href="../../../index.html">
        <img class="top-left-logo" src="../../../images/approachable-open-source-logo.png" alt="Approachable Open Source Logo" width="20px" />
    </a>
    <div class="text-container">
        <h1>Rhyme Time</h1>
        <a href="../../whiteboard.html">
            More whiteboard interview questions
        </a>
        <h3>Question:</h3>

        <p>
            Write a function that returns the number of strings in the array that rhyme with the string.
            <br> For the purpose of this exercise, rhyming is considered to be identical except for the first letter.
            <br>
            <br> For example, 'mist' would rhyme with 'gist', but not with 'cyst'.
            <br>
            <br> String: 'sane'
            <br> Array: [ 'cane', 'came', 'rain', 'Jane', 'dame', 'main' ]
            <br>
            <br>
            <br> How would you change the code to make that function work with strings of any length.
            <br> Array: [ 'explain', 'hurricane', 'airplane', 'wane', 'insane', 'blame', 'shame', 'again', 'detain' ]
        </p>

        <h4>Approach: </h4>

        <p>To solve this question, you will need to apply two techniques. The first is to loop through the array, the second is to compare the strings.</p>

        <p>Think about how you can manipulate strings to access only the part of the string that you're interested in.</p>

        <div class="hidden-answer">
            <input type="checkbox" id="fizzbuzz-answer">
            <label for="fizzbuzz-answer">Click to see an answer written in JavaScript</label>
            <div class="content">
                <script src="https://gist.github.com/EricAustin/54965230aedbd45efc7f20fc3f9ff4d4.js"></script>
            </div>
        </div>
        <footer>
            <hr>
            <p class="text-container">
                An
                <a href="https://github.com/approachable-io/welcome">Approachable Open Source</a> project from
                <a href="http://www.approachable.io">Approachable IO</a>
            </p>
        </footer>
</body>

</html>
